pre {
  height: 200px;
  max-width: 500px;
  overflow: scroll;
}

li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  padding: 20px;
}

ul {
  padding: 0px;
  display: flex;
  align-items: center;
}
